name: release-please
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.txt"
      - "**/*_test.go"
      - "LICENSE"
      - ".gitignore"

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          # use the default GitHub Actions token for authentication
          # for most repositories, `secrets.GITHUB_TOKEN` is sufficient; a custom PAT
          # is only needed for advanced scenarios (e.g., cross-repo releases)
          token: ${{ secrets.GITHUB_TOKEN }}
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: simple
